<div style="text-align: center; display:inline-block; margin-top: 10%;">
  <h1 style="margin-bottom: 50px;">Login</h1>
  <label style="font-size: 20px;">Email address</label>
  <input id="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" style="width: 300px; text-align:center">
  <label style="font-size: 20px; margin-top:20px">Password</label>
  <input id="pw" type="password" class="form-control" placeholder="Password" style="width: 300px; text-align:center">
  <button id="btn" type="button" class="btn btn-primary" style="margin-top: 20px;">Submit</button>
  <div style="margin-top: 10px; font-style:italic"><a id="registration" href="/#registration">Sign in</a></div>
  <div class="alert alert-danger" id="errorBox" style="display: none; width: 230px; margin-top:10px; margin-left: 30px;">Email o password errati!</div>
</div>