<div style="text-align: center; display:inline-block; margin-top: 10%;">
  <h1 style="margin-bottom: 50px;">Sign In</h1>
  <label style="font-size: 20px;">Email address</label>
  <input id="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" style="width: 300px; text-align:center">
  <label style="font-size: 20px; margin-top:20px">New Password</label>
  <input id="pw" type="password" class="form-control" placeholder="New Password" style="width: 300px; text-align:center">
  <label style="font-size: 20px; margin-top:20px">Confirm Password</label>
  <input id="pw-confirm" type="password" class="form-control" placeholder="Confirm Password" style="width: 300px; text-align:center">
  <button id="btn" type="button" class="btn btn-primary" style="margin-top: 20px;">Submit</button>
  <div class="alert alert-danger" id="errorPwBox" style="display: none; width: 230px; margin-top:10px; margin-left: 30px;">Enter the correct data</div>
  <div class="alert alert-danger" id="errorEmailBox" style="display: none; width: 230px; margin-top:10px; margin-left: 30px;">Email already exists</div>
  <div class="alert alert-success" id="successBox" style="display: none; width: 230px; margin-top:10px; margin-left: 30px;">You have been registered</div>
</div>