<div id="statsBox" style="background-color: rgb(255, 255, 255); width:300px; display:none; height:250px; margin-top:50px">
  <h1 style="background: #decba4; font-style:italic;">Punteggio</h1>
  <h2 style="margin-top: 25px;">{{n1}}</h2>
  <h2>{{n2}}</h2>
  <h2>{{n3}}</h2>
</div>